body{
    background-color: aqua;
}

section {
   width: 800px;
   background-color: white;
    margin: auto;
}

section div div{
    height: 100px ;
    width: 100px;
    }

div {
    display: flex;
}

section :nth-child(even) :nth-child(even){
    background-color: black;
}

section :nth-child(odd) :nth-child(odd) {
    background-color: black;
}