
section {
   width: 800px;
    margin: auto;
}

section div div{
    height: 100px ;
    width: 100px;
    }

div {
    display: flex;
}

section div :nth-child(even){
    background-color: black;
}

section :nth-child(even){
    flex-direction: column-reverse;
}